@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ############################################## GLOBAL ############################################## */
* {
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

/* -------------------------------------------- Elements -------------------------------------------- */
a {
  color: white;
}

a:hover,
button:hover {
  cursor: pointer;
}

section {
  padding: 10px;
}

/* -------------------------------------------- Divs -------------------------------------------- */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #ecf8ff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(135deg, #5ed4ff, #2fb8e9);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #2fb8e9;
}

.title-image {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

header>.title-image>h1 {
  font-size: 40px;
  margin: 0;
}

nav {
  display: flex;
  align-items: baseline;
}

nav button {
  background-color: transparent;
  color: #ecf8ff;
  border-radius: 10px;
  width: 160px;
  height: 50px;
  font-size: 20px;
  border: none;
  margin: 0 10px;
}

.active {
  color: #55a0bb;
  background-color: #ecf8ff;
  border-left: 3px solid #76bed8;
  border-top: 3px solid #76bed8;
  border-right: 3px solid #55a0bb;
  border-bottom: 3px solid #55a0bb;
  box-shadow: 2.5px 2.5px 0px #397185;
}

main {
  margin-top: 100px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: linear-gradient(215deg, #5ed4ff, #2fb8e9);
}

/* ############################################## LISTINGS ############################################## */
/* -------------------------------------------- Index -------------------------------------------- */
.index-listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-list {
  align-items: center;
  color: #2fb8e9;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  height: auto;
}

.index-title-price-cat {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: left;
  padding: 0px 20px;
  background-color: #d9eff7;
  border-radius: 15px 15px 0 0;
  border-left: 3px solid #62d5ff;
  border-top: 3px solid #62d5ff;
  border-right: 3px solid #2fb8e9;
  box-shadow: 5px 5px 0px #397185;
}

.index-title-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.index-title {
  padding-bottom: 5px;
  border-bottom: 3px solid #55a0bb;
}

.index-category {
  color: #55a0bb;
}

.index-post-info {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 20px 0 20px;
  background-image: linear-gradient(135deg, #5ed4ff, #2fb8e9);
  border-left: 3px solid #62d5ff;

  border-radius: 0 0 15px 15px;
  box-shadow: 5px 5px 0px #397185;
  margin: 0;
  color: #ecf8ff;
}

.index-link {
  font-weight: bold;
}

.index-date {
  font-size: 16px;
  text-align: right;
}

/* -------------------------------------------- Show -------------------------------------------- */
.show-page {
  display: flex;
  justify-content: center;
  font-size: 23px;
}

.show-listing,
.show-bidding {
  width: 550px;
  height: 450px;
  margin: 50px;
}

.show-title-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  color: #2fb8e9;
}

.show-title-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-category {
  display: flex;
  justify-content: space-between;
}

.show-category>p {
  padding: 0;
  font-weight: 300;
}

.show-description {
  padding-bottom: 10px;
  font-weight: 300;
}

.bold-underline {
  font-weight: 500;
  text-decoration: underline;
  color: #2fb8e9;
}

.black-text {
  color: #000 !important;
}

.show-status-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #bedde9;
}

.for-sale {
  color: #2fb8e9;
}

.sold {
  color: #949fa4;
}

.show-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-buttons button {
  width: 120px;
  height: 50px;
  font-size: 23px;
  background-color: transparent;
  border-radius: 10px;
  margin: 20px;
}

.edit {
  background-color: #ecf8ff;
  border-radius: 10px;
  border-left: 3px solid #7fe36f;
  border-top: 3px solid #7fe36f;
  border-right: 3px solid #57b848;
  border-bottom: 3px solid #57b848;
  box-shadow: 2.5px 2.5px 0px #388d2b;
  color: #57b848;
}

.edit:hover {
  border: 3px solid #388d2b;
  color: #388d2b;
}

.delete {
  background-color: #ecf8ff;
  border-radius: 10px;
  border-left: 3px solid #ff5c5c;
  border-top: 3px solid #ff5c5c;
  border-right: 3px solid #ea3434;
  border-bottom: 3px solid #ea3434;
  box-shadow: 2.5px 2.5px 0px #ae1d1d;
  color: #ea3434;
}

.delete:hover {
  border: 3px solid #ae1d1d;
  color: #ae1d1d;
}

.show-date {
  font-size: 16px;
  text-align: right;
}

.show-bidding {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.show-bidding>h2 {
  padding: 15px 0 0 10px;
  width: 100%;
  height: 20%;
  border-radius: 15px 15px 0 0;
  background-image: linear-gradient(135deg, #5ed4ff, #2fb8e9);
  margin: 0;
  color: #fff;
  box-shadow: 5px 5px 0px #397185;
  border-left: 3px solid #62d5ff;
  border-top: 3px solid #62d5ff;
}

.show-bids {
  width: 100%;
  height: 80%;
  background-color: #d9eff7;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 3px solid #62d5ff;
  border-right: 3px solid #2fb8e9;
  box-shadow: 5px 5px 0px #397185;
}

.bid {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: 300;
  border-bottom: 3px solid #bedde9;
}

.bid-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.no-bids {
  text-align: center;
}

.accepted {
  color: #57b848;
}

.considering {
  color: #55a0bb;
}

.show-bid-delete {
  width: 15px;
}

.show-x {
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 0;
}

.show-x:hover {
  color: #ff0000;
}

.bid p,
.bid button {
  margin: 0 10px;
}

.show-offer {
  color: #fff;
  padding: 15px 0 0 10px;
  width: 100%;
  height: 20%;
  border-radius: 0 0 15px 15px;
  background-image: linear-gradient(135deg, #5ed4ff, #2fb8e9);
  border-left: 3px solid #62d5ff;

  box-shadow: 5px 5px 0px #397185;
}

.show-offer input {
  border-left: 3px solid #76bed8;
  border-top: 3px solid #76bed8;
  border-right: 3px solid #55a0bb;
  border-bottom: 3px solid #55a0bb;
  font-weight: 300;
  font-size: 16px;
  box-shadow: 2.5px 2.5px 0px #397185;
  border-radius: 5px;
}

.show-offer button {
  background-color: #ecf8ff;
  border-radius: 10px;
  border-left: 3px solid #76bed8;
  border-top: 3px solid #76bed8;
  border-right: 3px solid #55a0bb;
  border-bottom: 3px solid #55a0bb;
  box-shadow: 2.5px 2.5px 0px #397185;
  color: #55a0bb;
  width: auto;
  height: auto;
  font-size: 20px;
  padding: 5px 10px;
}

.show-offer-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-offer-input button {
  margin-right: 10px;
}

/* -------------------------------------------- New & Edit -------------------------------------------- */
.new-listing,
.edit-listing,
.cat-listing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

.new-listing>h1,
.edit-listing>h1,
.cat-listing>h1 {
  padding: 20px 0;
  width: 700px;
  border-radius: 15px 15px 0 0;
  background-image: linear-gradient(135deg, #5ed4ff, #2fb8e9);
  margin: 0;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  box-shadow: 5px 5px 0px #397185;
  border-left: 3px solid #62d5ff;
  border-top: 3px solid #62d5ff;
}

.new-inputs,
.edit-inputs {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d9eff7;
  border-left: 3px solid #62d5ff;
  border-right: 3px solid #2fb8e9;
  box-shadow: 5px 5px 0px #397185;
}

.new-category-inputs {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9eff7;
  border-left: 3px solid #62d5ff;
  border-right: 3px solid #2fb8e9;
  box-shadow: 5px 5px 0px #397185;
}

.new-category-inputs>h3 {
  margin: 0;
}

.new-category-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-category-title>input {
  width: 100%;
  margin-top: 10px;
}

.new-inputs input,
.new-inputs select,
.edit-inputs input,
.edit-inputs select,
.new-category-inputs input,
.new-category-inputs select {
  border-left: 3px solid #76bed8;
  border-top: 3px solid #76bed8;
  border-right: 3px solid #55a0bb;
  border-bottom: 3px solid #55a0bb;
  font-weight: 300;
  font-size: 16px;
  box-shadow: 2.5px 2.5px 0px #397185;
  border-radius: 5px;
}

.new-title-price,
.edit-title-price {
  display: flex;
}

.new-title-price>label,
.edit-title-price>label {
  padding: 10px;
}

.new-inputs>label,
.edit-inputs>label {
  width: 70%;
}

.new-description>input,
.edit-description>input {
  width: 100%;
  height: 100px;
  display: flex;
  padding-bottom: 75px;

}

.new-inputs>label>input {
  width: 100%;
}

.edit-sold {
  width: auto !important;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.sold-check {
  width: 30px;
  height: 30px;
  box-shadow: none !important;
}

.sold-check:hover {
  cursor: pointer;
}

.new-submit,
.edit-submit,
.new-category-submit {
  padding: 20px 0;
  width: 700px;
  border-radius: 0 0 15px 15px;
  background-image: linear-gradient(135deg, #5ed4ff, #2fb8e9);
  box-shadow: 5px 5px 0px #397185;
  margin: 0;
  text-align: center;
  border-left: 3px solid #62d5ff;
}

.new-submit button,
.edit-submit button,
.new-category-submit button {
  background-color: #ecf8ff;
  border-radius: 10px;
  border-left: 3px solid #76bed8;
  border-top: 3px solid #76bed8;
  border-right: 3px solid #55a0bb;
  border-bottom: 3px solid #55a0bb;
  box-shadow: 2.5px 2.5px 0px #397185;
  color: #55a0bb;
  font-size: 22px;
  padding: 5px 10px;
}

/* ############################################## Categories ############################################## */

.categories-index>h1 {
  width: 175px;
  height: auto;
  text-align: center;
  border-bottom: 3px solid #55a0bb;
  padding-bottom: 10px;
  margin-left: 20px;
}

.category-check {
  width: 50%;
  height: 300px;
  text-align: center;
}

.categories-link {
  text-decoration: none;
}

.categories-link:hover>.black-text {
  color: #2fb8e9 !important;
}

.categories-listed>a {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px dashed #bedde9;
  padding: 0 60px;
}

.categories-number {
  width: 50px;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  background-color: #d9eff7;
  border-left: 3px solid #76bed8;
  border-top: 3px solid #76bed8;
  border-right: 3px solid #55a0bb;
  border-bottom: 3px solid #55a0bb;
  box-shadow: 2.5px 2.5px 0px #397185;
  border-radius: 5px;
  color: #2fb8e9;
}

.gray {
  color: #55a0bb;
}

.new-category-inputs {
  justify-content: center;
}

.new-category-inputs>form {
  margin-top: 40px;
}

.new-category-inputs>form>label>input {
  font-size: 16px;
}

.new-category-check {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.new-category-list {
  width: auto;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 15px;
  background-color: #ecf8ff;
  border-radius: 5px;
  border-left: 3px solid #76bed8;
  border-top: 3px solid #76bed8;
  border-right: 3px solid #55a0bb;
  border-bottom: 3px solid #55a0bb;
  box-shadow: 2.5px 2.5px 0px #397185;
  color: #2fb8e9;
}