@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ############################################## GLOBAL ############################################## */
* {
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

/* -------------------------------------------- Elements -------------------------------------------- */
a {
  color: white;
}

a:hover,
button:hover {
  cursor: pointer;
}

section {
  padding: 10px;
}

.bold-underline {
  font-weight: 500;
  text-decoration: underline;
  color: #5862d2;
}

.black-text {
  color: #000 !important;
}

.no-underline {
  text-decoration: none;
}

/* -------------------------------------------- Divs -------------------------------------------- */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(135deg, #eaf8ff, #eaf8ff, #dce0ff);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(135deg, #5ed4ff, #8a94ff, #8a94ff, #5862d2);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 2.5px 2.5px 2.5px #00000040;
  box-shadow: 0px 3px 5px #00000040;

}

.title-image {
  display: flex;
  align-items: center;
}

.logo-img {
  display: none;
  width: 60px;
  height: auto;
  margin-right: 10px;
}

header h1 {
  font-size: 35px;
  margin: 0;
}

nav {
  display: flex;
  align-items: baseline;
}

nav button {
  background-color: transparent;
  color: #fff;
  width: 140px;
  height: 50px;
  font-size: 16px;
  border: none;
  margin: 0 10px;
}

.active {
  color: #5862d2;
  background-image: linear-gradient(135deg, #eaf8ff, #dce0ff);
  border-left: 3px solid #8a94ff;
  border-top: 3px solid #8a94ff;
  border-right: 3px solid #5862d2;
  border-bottom: 3px solid #5862d2;
  box-shadow: 5px 5px 2.5px #00000040;
  border-radius: 10px;
}

main {
  padding-top: 170px;
  padding-bottom: 55px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: linear-gradient(135deg, #8a94ff, #5862d2);
}

/* ############################################## LISTINGS ############################################## */
/* -------------------------------------------- Index & Category Show Listing -------------------------------------------- */
.index-listings,
.category-show-listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-list,
.category-show-list {
  align-items: center;
  color: #5862d2;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  height: auto;
}

.index-list:hover>.index-title-price-cat,
.index-list:hover>.index-post-info,
.category-show-list:hover>.category-show-title-price-cat,
.category-show-list:hover>.category-show-post-info,
.active:hover {
  animation: 3s infinite box-shadow-color;
}

.index-title-price-cat,
.category-show-title-price-cat {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: left;
  padding: 0px 20px;
  border-radius: 15px 15px 0 0;
  border-left: 3px solid #8a94ff;
  border-top: 3px solid #8a94ff;
  border-right: 3px solid #5862d2;
  box-shadow: 5px 5px 2.5px #00000040;
}

.index-title-price,
.category-show-title-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.index-title,
.category-show-title {
  padding-bottom: 5px;
  border-bottom: 3px solid #8a94ff;
}

.index-category,
.category-show-category {
  color: #8a94ff;
}

.index-post-info,
.category-show-post-info {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 20px 0 20px;
  background-image: linear-gradient(135deg, #8a94ff, #5862d2);
  border-left: 3px solid #8a94ff;
  border-radius: 0 0 15px 15px;
  box-shadow: 5px 5px 2.5px #00000040;
  margin: 0;
  color: #ecf8ff;
}

.index-link,
.category-show-link {
  font-weight: bold;
}

.index-date,
.category-show-date {
  font-size: 16px;
  text-align: right;
}

/* -------------------------------------------- Show -------------------------------------------- */
.show-page {
  display: flex;
  justify-content: center;
  font-size: 23px;
  height: 100%;
  margin-bottom: 300px;
}

.show-listing,
.show-bidding {
  width: 550px;
  height: 100%;
  margin: 50px;
}

.show-title-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  color: #5862d2;
}

.show-title-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-title-price h1,
.show-title-price>p {
  margin: 10px;
}

.show-title-price h1{
  text-align: left;
}
.show-title-price>p {
  text-align: right;
}

.show-category {
  display: flex;
  justify-content: space-between;
}

.show-category>p {
  padding: 0;
  font-weight: 300;
}

.show-description {
  padding-bottom: 10px;
  font-weight: 300;
}

.show-status-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #dce0ff;
}

.show-image{
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-image: linear-gradient(135deg, #eaf8ff, #dce0ff);
  border-left: 4px solid #8a94ff;
  border-top: 4px solid #8a94ff;
  border-right: 4px solid #5862d2;
  border-bottom: 4px solid #5862d2;
  box-shadow: 5px 5px 2.5px #00000040;
  border-radius: 10px;
}

.edit-image{
  width: 475px;
  height: 200px;
  object-fit: cover;
  background-image: linear-gradient(135deg, #eaf8ff, #dce0ff);
  border-left: 4px solid #8a94ff;
  border-top: 4px solid #8a94ff;
  border-right: 4px solid #5862d2;
  border-bottom: 4px solid #5862d2;
  box-shadow: 5px 5px 2.5px #00000040;
  border-radius: 10px;
  margin-bottom: 30px;
}


.for-sale {
  color: #8a94ff;
}

.sold {
  color: #949fa4;
}

.show-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-buttons button {
  width: 120px;
  height: 50px;
  font-size: 23px;
  background-color: transparent;
  border-radius: 10px;
  margin: 20px;
}

.edit {
  background-image: linear-gradient(135deg, #eaf8ff, #dce0ff);
  border-radius: 10px;
  border-left: 3px solid #7fe36f;
  border-top: 3px solid #7fe36f;
  border-right: 3px solid #57b848;
  border-bottom: 3px solid #57b848;
  box-shadow: 2.5px 2.5px 2.5px #00000040;
  color: #5862d2;
}

.delete {
  background-image: linear-gradient(135deg, #eaf8ff, #dce0ff);
  border-radius: 10px;
  border-left: 3px solid #ff5c5c;
  border-top: 3px solid #ff5c5c;
  border-right: 3px solid #ea3434;
  border-bottom: 3px solid #ea3434;
  box-shadow: 2.5px 2.5px 2.5px #00000040;
  color: #5862d2;
}

.show-date {
  font-size: 16px;
  text-align: right;
}

.show-bidding {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.show-bidding>h2 {
  display: flex;
  align-items: center;
  padding-left: 30px;
  width: 100%;
  height: 20%;
  border-radius: 15px 15px 0 0;
  background-image: linear-gradient(135deg, #8a94ff, #5862d2);
  margin: 0;
  color: #fff;
  border-left: 4px solid #8a94ff;
  border-top: 4px solid #8a94ff;
  border-right: 4px solid #5862d2;
}

.show-bids {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 4px solid #8a94ff;
  border-right: 4px solid #5862d2;
}

.bid {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: 300;
  border-bottom: 3px solid #dce0ff;
}

.bid-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.no-bids {
  text-align: center;
}

.accepted {
  color: #57b848;
}

.highest {
  color: #5862d2;
}

.considering {
  color: #8a94ff;
}

.too-low {
  color: #868791;
}

.show-bid-delete {
  width: 15px;
}

.show-x {
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 0;
  color: #8a94ff;
}

.show-x:hover {
  color: #ff0000;
}

.bid p,
.bid button {
  margin: 0 10px;
}

.show-offer {
  color: #fff;
  padding: 15px 0 0 10px;
  width: 100%;
  height: 20%;
  border-radius: 0 0 15px 15px;
  background-image: linear-gradient(135deg, #8a94ff, #5862d2);
  border-left: 4px solid #8a94ff;
}

.show-offer input {
  border-left: 3px solid #8a94ff;
  border-top: 3px solid #8a94ff;
  border-right: 3px solid #5862d2;
  border-bottom: 3px solid #5862d2;
  box-shadow: 2.5px 2.5px 2.5px #00000040;
  font-weight: 300;
  font-size: 16px;
  border-radius: 5px;
}

.show-offer button {
  border-radius: 10px;
  color: #5862d2;
  background-image: linear-gradient(135deg, #eaf8ff, #dce0ff);
  border-left: 3px solid #8a94ff;
  border-top: 3px solid #8a94ff;
  border-right: 3px solid #5862d2;
  border-bottom: 3px solid #5862d2;
  box-shadow: 2.5px 2.5px 2.5px #00000040;
  width: auto;
  height: auto;
  font-size: 20px;
  padding: 5px 10px;
}

.show-offer-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-offer-input button {
  margin-right: 10px;
}

/* -------------------------------------------- New & Edit -------------------------------------------- */
.new-listing,
.edit-listing,
.cat-listing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

.new-listing>h1,
.edit-listing>h1,
.cat-listing>h1 {
  padding: 20px 0;
  width: 700px;
  border-radius: 15px 15px 0 0;
  margin: 20px 0 0 0;
  text-align: center;
  background-image: linear-gradient(135deg, #8a94ff, #5862d2);
  color: #fff;
  border-left: 4px solid #8a94ff;
  border-top: 4px solid #8a94ff;
  border-right: 4px solid #5862d2;
}

.new-inputs,
.edit-inputs {
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-left: 4px solid #8a94ff;
  border-right: 4px solid #5862d2;
  background-image: linear-gradient(135deg, #eaf8ff, #dce0ff);

}

.new-category-inputs {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 4px solid #8a94ff;
  border-right: 4px solid #5862d2;
  background-image: linear-gradient(135deg, #eaf8ff, #dce0ff);

}

.new-category-inputs>h3 {
  margin: 0;
}

.new-category-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-category-title>input {
  width: 100%;
  margin-top: 10px;
}

.new-inputs input,
.new-inputs select,
.edit-inputs input,
.edit-inputs select,
.new-category-inputs input,
.new-category-inputs select {
  border-left: 3px solid #8a94ff;
  border-top: 3px solid #8a94ff;
  border-right: 3px solid #5862d2;
  border-bottom: 3px solid #5862d2;
  box-shadow: 2.5px 2.5px 2.5px #00000040;
  font-weight: 300;
  font-size: 16px;
  border-radius: 5px;
}

.new-title-price,
.edit-title-price {
  display: flex;
}

.new-title-price>label,
.edit-title-price>label {
  padding: 10px;
}

.new-inputs>label,
.edit-inputs>label {
  width: 70%;
}

.new-description>input,
.edit-description>input {
  width: 100%;
  height: 100px;
  display: flex;
  padding-bottom: 75px;

}

.new-inputs>label>input {
  width: 100%;
}

.edit-sold {
  width: auto !important;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.sold-check {
  width: 30px;
  height: 30px;
  box-shadow: none !important;
}

.sold-check:hover {
  cursor: pointer;
}

.new-submit,
.edit-submit,
.new-category-submit {
  padding: 20px 0;
  width: 700px;
  border-radius: 0 0 15px 15px;
  border-left: 3px solid #8a94ff;
  background-image: linear-gradient(135deg, #8a94ff, #5862d2);
  margin: 0;
  text-align: center;
}

.new-submit button,
.edit-submit button,
.new-category-submit button {
  border-radius: 10px;
  color: #5862d2;
  background-image: linear-gradient(135deg, #eaf8ff, #dce0ff);
  border-left: 3px solid #8a94ff;
  border-top: 3px solid #8a94ff;
  border-right: 3px solid #5862d2;
  border-bottom: 3px solid #5862d2;
  box-shadow: 5px 5px 2.5px #00000040;
  font-size: 22px;
  padding: 5px 10px;
}

.image-input {
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.accept-bid{
  display: flex;
  align-items: center;
  margin-bottom: 30px;

}

.accept-bid>input{
  margin-left: 10px;
}

/* ############################################## Categories ############################################## */

.categories-index>h1 {
  width: 175px;
  height: auto;
  text-align: center;
  border-bottom: 3px solid #8a94ff;
  padding-bottom: 10px;
  margin-left: 20px;
  color: #5862d2;
}

.category-check {
  width: 50%;
  height: 300px;
  text-align: center;
}

.categories-link:hover>.black-text {
  color: #8a94ff !important;
}

.categories-listed>a {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px dashed #bec1dc;
  padding: 0 60px;
}

.categories-number {
  width: 50px;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  color: #5862d2;
  background-image: linear-gradient(135deg, #eaf8ff, #dce0ff);
  border-left: 3px solid #8a94ff;
  border-top: 3px solid #8a94ff;
  border-right: 3px solid #5862d2;
  border-bottom: 3px solid #5862d2;
  box-shadow: 5px 5px 2.5px #00000040;
  border-radius: 10px;
}

.gray {
  color: #8a94ff;
}

.new-category-inputs {
  justify-content: center;
}

.new-category-inputs>form {
  margin-top: 40px;
}

.new-category-inputs>form>label>input {
  font-size: 16px;
}

.new-category-check {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.new-category-list {
  width: auto;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  color: #5862d2;
  background-color: #eaf8ff;
  border-left: 3px solid #8a94ff;
  border-top: 3px solid #8a94ff;
  border-right: 3px solid #5862d2;
  border-bottom: 3px solid #5862d2;
  box-shadow: 2.5px 2.5px 2.5px #00000040;
}

.category-show-h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.category-show-h1>h1 {
  text-align: center;
  color: #5862d2;
  background-image: linear-gradient(135deg, #eaf8ff, #dce0ff);
  border-left: 3px solid #8a94ff;
  border-top: 3px solid #8a94ff;
  border-right: 3px solid #5862d2;
  border-bottom: 3px solid #5862d2;
  box-shadow: 5px 5px 2.5px #00000040;
  border-radius: 10px;
  padding: 20px;
}

.no-listings {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes box-shadow-color {
  0% {
    box-shadow: 5px 5px 2.5px #00000040;
  }

  50% {
    box-shadow: 5px 5px 2.5px #00000060;
  }

  100% {
    box-shadow: 5px 5px 2.5px #00000040;
  }
}

@media only screen and (min-width: 955px) {
  main {
    padding-top: 125px;
  }
}

@media only screen and (min-width: 1030px) {
  .logo-img {
    display: block;
  }
}

@media only screen and (min-width: 1125px) {
  main {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1160px) {
  header h1 {
    font-size: 40px;
    margin: 0;
  }
}

@media only screen and (min-height: 790px) {
  .show-page {
    margin-bottom: 130px;

  }
}